body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/img/bg1.png') no-repeat fixed;
  background-size: cover;
  background-position: center;
  font-family: Cuprum;
  height:100vh;
}

@font-face {
  font-family: CuprumBold;
  src: url('./assets/font/Cuprum-Bold.ttf');
}

@font-face {
  font-family: Cuprum;
  src: url('./assets/font/Cuprum-Regular.ttf');
}

body h1 {
  font-family: CuprumBold;
}

.login-page {
  margin-top: 80px;
}

.login-area {
  padding-top: 80px;
  text-align: center;
  color: #fff;
}

.v-button {
  margin-top: -15px;
  border-radius: 30px;
  border: 0.6px solid #306fd9; 
  font-family: CuprumBold; 
  font-size: 20px;
  background: #fff;
  color: #306fd9;
  width: 220px;
  padding: 10px 0px;
  align-self: center;
  text-decoration: none;
}
.v-button:focus {
  outline: 0;
}

.v-button:hover {
  color: #fff;
  text-decoration: none;
  background: #306fd9;
}

.fb-button {
  background-image: url('./assets/img/fb.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
  margin-bottom: 5px;
}

.fb-button:hover {
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/fbh.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.play-button {
  background-image: url('./assets/img/start.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
}

.play-button:hover {
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/start-white.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.history-button {
  margin-top: 10px;
  background-image: url('./assets/img/history.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
}

.history-button:hover {
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/history-white.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.back-button {
  width: 40px; 
  height: 40px; 
  background-color: #fff; 
  border-radius: 100%; 
  border: none;
  background-image: url('./assets/img/back.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back-button:hover {
  background-color: #306fd9;
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/back-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.new-button {
  background-image: url('./assets/img/new.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
}

.new-button:hover {
  background-color: #306fd9;
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/new-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.join-button {
  margin-top: 20px;
  background-image: url('./assets/img/join.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
}

.join-button:hover {
  background-color: #306fd9;
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/join-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.button-area {
  margin-top: 50px;
}

.wrap-content {
  margin-top: 150px;
  padding: 40px 15px 50px 15px;
}

.wrap-content h1 {
  font-size: 40px;
}

.have-list {
  margin-top: 110px;
}

.loading {
  height: 400px;
}

.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 22px;
  color: #fff;
  padding: 2rem;
  position: fixed;
}

.list-room {
  margin-bottom: 20px;
  border: 2px solid #306ed9a6;
  border-radius: 10px;
  height: 300px;
  flex: 1;
  background-color: rgba(183, 226, 253, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.join-list-btn {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(47, 49, 168, 0.3); 
  border-radius: 20px;
}
 
::-webkit-scrollbar-button {
  display: none;
}

.v-form {
  width: 200px;
  height: 50px;
  border: none;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.v-form:focus {
  border: 0.5px solid #306fd9;
}

.room-button {
  background-image: url('./assets/img/room.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;
}

.room-button:hover {
  background-color: #306fd9;
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/room-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.list-avatar {
  border: 2px solid #306ed9a6;
  border-radius: 10px;
  flex: 1;
  padding: 20px 0;
  background-color: rgba(183, 226, 253, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

.avatar-button {
  margin-top: 20px;
  background-image: url('./assets/img/avatar.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 40px;.login-page {
    margin-top: 60px;
}
}

.avatar-button:hover {
  background-color: #306fd9;
  transition: ease-in-out 0.3s;
  background-image: url('./assets/img/avatar-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  -moz-box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
  box-shadow: 2px 2px 8px -2px rgba(0,0,0,1);
}

div#navbarColor01 {
  height: 50px;
  padding: 0 20px;
}

.logout-button {
  color: #fff;
  width: 100px;
  background-color: rgb(255, 46, 46);
  padding: 5px 0;
  margin-top: 1px;
}

.avatar {
  margin: 5px 10px; 
}

.avatar-select {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.avatar-select:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.avatar-name {
  margin-top: 20px;
  font-size: 30px;
}

.history {
  font-size: 20px;
}

header {
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(./assets/img/single-logo.png) no-repeat center;
	display: block;
}

nav {
	float: right;
	padding: 20px;	
}

@media only screen and (max-width : 640px) {

	header {
		position: absolute;
  }
  
  #logo{
    display: none;
  }

	#menu-icon {
		display:inline-block;
  }
  
  nav {
    width: 100%;
    text-align: center;
  }

  .login-page {
    margin-top: 60px;
  }
  
  .login-area {
    padding-top: 40px;
  }

  .wrap-content {
    margin-top: 60px;
  }

  .have-list {
    margin-top: 100px;
  }

  .list-room {
    margin-bottom: 10px;
  }

  .footer {
    position: inherit
  }
}